html {
    color: #4A4A4A;
    font-size: 18px;
    line-height: 1.4;
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::-moz-selection {
    background: #4A90E2;
    text-shadow: none;
}

::selection {
    background: #4A90E2;
    text-shadow: none;
}
