.section-hero {
  position: relative;
  color: #ffffff;
  background-image: url('/img/pexels-photo-116191.jpeg'), linear-gradient(-270deg, #F7B91C 0%, #FBCF61 100%);
  background-size: cover;
  @include breakpoint(tablet) {
    z-index: 9000;
    @include angle-edge($bottom-l: 85%);
  }

  &__heading {
    @include breakpoint(tablet) {
      text-align: center;
    }
    @include breakpoint(desktop) {
      position: absolute;
      top: 0;
      left: 60px;
    }
  }
}

.orb-heading {
  margin-left: auto;
  margin-bottom: 100px;
  margin-right: auto;
  width: 300px;
  height: 300px;
  text-align: center;
  line-height: 300px;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .45),
               0px 0px 0px rgba(0, 0, 0, 1),
               0px 0px 1px rgba(0, 0, 0, .8);
  background-color: rgba(245, 166, 35, .8);
  border-radius: 50%;
  &__copy {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
  @include breakpoint(tablet) {
    width: 525px;
    height: 525px;
    font-size: 96px;
    line-height: 525px;
  }
}

.section-2 {
  background-image: linear-gradient(-270deg, #F7B91C 0%, #FBCF61 100%);
  @include breakpoint(mobile) {
    order: 4;
  }
  @include breakpoint(tablet) {
    @include angle-edge($bottom-r: 85%);
  }
}

.section-3 {
  @include breakpoint(mobile) {
    order: 3;
  }
}

.section-4 {
  color: #ffffff;
  background-image: linear-gradient(-269deg, #4A90E2 0%, #4967E2 100%);
  @include breakpoint(mobile) {
    order: 2;
  }
  @include breakpoint(tablet) {
    @include angle-edge($top-l: 15%, $bottom-l: 85%);
  }
}

main {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  @include breakpoint(desktop) {
    margin-top: 0;
  }
  > section {
    padding-top: 80px;
    padding-left: 40px;
    padding-bottom: 80px;
    padding-right: 40px;
  }
  @include breakpoint(tablet) {
    > section {
      padding-top: 100px;
      padding-bottom: 200px;
      min-height: 650px;
    }
    > section + section {
      margin-top: -160px;
      padding-top: 200px;
    }
  }
}

footer {
  padding-left: 40px;
  padding-bottom: 200px;
  padding-right: 40px;
  p {
    padding-right: 0;
    @include breakpoint(desktop) {
      padding-right: 40%;
    }
  }
}

.container {
  margin: auto;
  max-width: 1200px;
}

.section-article {
  order: 1;
}

.section-aside {
  text-align: center;
  order: 2
}

.side-img {
  width: 300px;
  height: 300px;
  @include breakpoint(tablet) {
    width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 400px;
  }
}

// Grid
.grid {
  &--tablet-min {
    @include breakpoint(tablet) {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin: -30px 0 0 -30px;
    }
  }
  &--desktop-min {
    @include breakpoint(desktop) {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin: -30px 0 0 -30px;
    }
  }

  &__1-3,
  &__2-3,
  &__1-2,
  &__2-2 {
    @include breakpoint(tablet) {
      padding: 30px 0 0 30px;
    }
  }

  &__1-3 {
    flex-basis: 33.333%;
  }
  &__2-3 {
    flex-basis: 66.666%;
  }
  &__1-2 {
    flex-basis: 50%;
  }
  &__2-2 {
    flex-basis: 100%;
  }
}
