// nav

nav {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  color: #ffffff;
  background-color: #000000;
  z-index: 9999;
  .menu {
    position: absolute;
    top: 0;
    left: -615px;
    margin: 0;
    padding: 0;
    width: 615px;
    height: 680px;
    background-color: rgba(0, 0, 0, .8);
    list-style: none;
    z-index: 9999;
    transition: all 0.5s ease-in-out;
    &--open {
      left: 0;
      transition: all 0.5s ease-in-out;
    }
  }
  li {
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 20px;
  }
  a {
    font-size: 36px;
    font-weight: "semi-bold";
    text-decoration: none;
    color: #ffffff;
  }
  @include breakpoint(desktop) {
    top: 20px;
    left: auto;
    right: 100px;
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, .33);
    .menu {
      position: static;
      padding: 0;
      width: auto;
      height: auto
    }
    li {
      display: inline-block;
      padding: 16px;
    }
    a {
      font-size: 18px;
    }
  }
}

.menu-label {
  margin-left: 40px;
  font-size: 30px;
  font-weight: 600;
  &__icon {
    margin-right: 40px;
  }
}
