// Type
body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 20px;
  font-family: "Impact", sans-serif;
  font-weight: normal;
  text-align: center;
  @include breakpoint(tablet) {
    text-align: left;
  }
}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 48px;
}

.text-white {
  color: #ffffff;
}

.first-char-lead::first-letter {
  font-size: 48px;
  line-height: 1;
}
