// Utility variables, functions and classes

$mobile-view: "max-width: 480px";
$tablet-view-plus: "min-width: 480px";
$desktop-view-plus: "min-width: 968px";

@mixin breakpoint($size) {
  @if $size == mobile {
    @media ($mobile-view){
      @content;
    }
  }
  @else if $size == tablet {
    @media ($tablet-view-plus) {
      @content;
    }
  }
  @else if $size == desktop {
    @media ($desktop-view-plus) {
      @content;
    }
  }
  @else {
    @warn "Error";
  }
}

// Inspiration from
// https://www.viget.com/articles/angled-edges-with-css-masks-and-transforms
// pass in 0, 1 for
@mixin angle-edge($top-l: 0, $top-r: 0, $bottom-l: 100%, $bottom-r: 100%) {
  clip-path: polygon(0 $top-l, 1600px $top-r, 1600px $bottom-r, 0 $bottom-l);
}

.hide-desktop {
  @include breakpoint(desktop) {
    display: none;
  }
}

.visually-hidden {
  visibility: hidden;
  width: 0;
  height: 0;
}

.text-blue {
  color: #4990E2;
}
